# Application Environment Configuration
DATABASE_URL=sqlite:///./locuslab.db

# Supabase PostgreSQL connection pooler (Transaction mode):
# DATABASE_URL=postgresql://postgres.mdrrqxvbmxxgkjcbnawk:[YOUR-PASSWORD]@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres

# Supabase direct session connection (Session mode):
# DATABASE_URL=postgresql://postgres.mdrrqxvbmxxgkjcbnawk:[YOUR-PASSWORD]@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres